# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
venv/
env/
.env

# Alembic
alembic/versions/*.pyc

# Logs
*.log

# Docker
*.docker
docker-compose.override.yml

# Node/React
node_modules/
build/
dist/
*.env.local

# IDEs
.vscode/
.idea/
*.swp
